@import url(./vendors/normalize.css);

body {
  background-color: black;
}

p {
  color: #fff;
}

h1,
h2,
h3,
legend,
li,
label,
button, 
figcaption {
  color: #fff;
}

.img_accueil { 
  width:100% ;
  margin-top: 60px;
}

h1 {
  text-align: center;
}

.logo_planete {
  margin-left: 35px;
  margin-top: 10px;
  width: 35px;
}

.ecran-1 {
width: 100%;
}

img {
  display: flex;
  width: 100%;
}

.boutton_accueil {
  width: 15%;
  display: block;
  margin: 0 auto;
}

.instagram {
  width: 10%;
  text-align: center;
}

.twitter {
  width: 10%;
}

.youtube {
  width: 10%;
}

.description {
  margin-top: 20px;
}

.hracc {
  height: 2px;
  background-color: white;
  width: 250px;
  margin: 0 auto;
  margin-bottom:68px;
  margin-top: 150PX;
}

.image_caroussel {
  margin-top: 215px
}