
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
html {
    font-size: 62,5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 0 0px;
}

.Wikipiece {
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: 'Viga', sans-serif;
    display: flex;
    justify-content: center;
        
}

h1 {
   font-size: 2rem; 
}


.Formulaire_footer {
    font-size: 20px; 
    font-weight: 600;
    text-decoration: underline;
    position: relative;
    bottom: 40px;
}

figcaption {
    text-align: center;
}


h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
    position: relative;
    bottom: 20px;
}

.legale {
    font-size: 20px; 
    font-weight: 600;
    position: relative;
    bottom: 40px;
}

.mail {
    font-size: 20px; 
    font-weight: 700;
    position: relative;
    bottom: 40px;
}